<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Mood</title>
		<link rel="shortcut icon" href="/img/letter-m.png" type="image/x-icon"/>
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/join_login.css"/>
		<link rel="stylesheet" href="/css/error.css"/>
		<script
			src="https://kit.fontawesome.com/072f44ed92.js"
			crossorigin="anonymous"
		></script>
	</head>
	
	<body>
		<!-- Header -->
		<header>
			<div class="logo">
				<a href="/" style="text-decoration: none;color: #2196f3;">Mood</a>
			</div>
			<div>
				<button id="login" onclick="location.href='/auth/login'">로그인</button>
				<button id="join" onclick="location.href='/auth/join'">회원가입</button>
			</div>
		</header>
		
		<!-- Main -->
		<main>
			<h2>회원가입</h2>
			<div class="emailLogin" >
				<form th:action th:object="${authDto}" method="post">
<!--					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
					<div th:if="${#fields.hasGlobalErrors()}">
						<p class="text-error"
						   th:each="err : ${#fields.globalErrors()}"
						   th:text="${err}">전체 오류 메시지</p>
					</div>
					<div>
						<p>이메일</p>
						<input type="email" th:field="*{email}" th:errorclass="border-error"/>
					</div>
					<div>
						<p>비밀번호</p>
						<input type="password" th:field="*{password}" th:errorclass="border-error"/>
					</div>
					<div>
						<p>이름</p>
						<input type="text" th:field="*{name}" th:errorclass="border-error"/>
					</div>
					<input type="submit" style="cursor: pointer" value="가입하기"/>
				</form>
			</div>
			
			<div class="hr-container">
				<div class="hr"></div>
				<div>OR</div>
				<div class="hr"></div>
			</div>
			<div>
				<button class="joinBtn" id="google" onclick="location.href='/oauth2/authorization/google'">
					<img src="/img/google.png"/> <span>구글 회원가입</span>
				</button>
				<button class="joinBtn" id="kakao" onclick="location.href='/oauth2/authorization/kakao'">
					<img src="/img/kakao.png"/> <span>카카오 회원가입</span>
				</button>
				<button class="joinBtn" id="naver" onclick="location.href='/oauth2/authorization/naver'">
					<img src="/img/naver.png"/> <span>네이버 회원가입</span>
				</button>
			</div>
		</main>
	</body>
</html>
