<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>게시글 작성폼</title>
	</head>
	<style>
		.layout{
			width: 500px;
			margin: 0 auto;
			margin-top: 40px;
		}
		.layout input,textarea{
			width: 100%;
			box-sizing: border-box;
			margin-top: 10px;
		}
		
		.layout textarea{
			min-height: 300px;
		}
	</style>
	<body>
		<div class="layout">
			<form th:action method="post" th:object="${post}" enctype="multipart/form-data">
				<input id="title" name="title" type="text" th:field="*{title}">
				<textarea id="content" name="content" th:field="*{content}"></textarea>
				<input type="file"  multiple="multiple" name="imageFiles">
				<button type="submit">수정</button>
			</form>
		</div>
	</body>
</html>