:root {
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-light-grey: grey;
  --color-dark-grey: #222222;
  --color-black: #000000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 70%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  font-family: 'nanumsquare';
  font-size: 30px;
}

.logo a {
  font-weight: 900;
  color: royalblue;
}

a {
  text-decoration: none;
}

.member {
  display: flex;
  align-items: center;
}

.member button {
  margin-left: 8px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#join {
  background-color: royalblue;
  color: white;
}

#profile {
  border-radius: 15px;
  width: 40px;
  height: 40px;
  position: relative;
}

#profile button {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background: none;
}

#profile img {
  width: 100%;
}

#dropDown {
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
}

.hidden {
  display: none;
}

#dropDown li {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 120px;
  height: 40px;
  background-color: var(--color-white);
  text-align: center;
  font-size: 14px;
}

#dropDown li:hover {
  background: var(--color-light-white);
}

#dropDown a {
  line-height: 40px;
  color: var(--color-black);
}

nav {
  width: 70%;
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
}

nav a {
  color: var(--color-dark-grey);
  margin-right: 20px;
}

.search {
  width: 16px;
}

main {
  width: 70%;
  margin: 30px auto;
}

section {
  width: 70%;
  margin: 100px auto;
  padding: 10px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.profile {
  width: 20%;
  padding: 0 40px;
  border-right: 1px solid var(--color-dark-white);
}

.image {
  width: 110px;
  height: 110px;
}

img {
  width: 100%;
  height: 100%;
}

.imgBtn {
  margin-top: 8px;
  width: 110px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: var(--color-light-white);
}

.upload {
  background: gold;
  color: var(--color-white);
  font-weight: 700;
}

.info {
  width: 80%;
  padding: 10px 40px;
}

.editBtn {
  border: none;
  background: none;
  color: coral;
  text-decoration: underline;
  cursor: pointer;
}

.info input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px;
  border: 1px solid var(--color-dark-white);
  border-radius: 4px;
  margin-top: 8px;
}

.info form div {
  display: flex;
  justify-content: end;
}

.saveBtn {
  margin-top: 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: gold;
  color: var(--color-white);
  font-weight: 700;
}

.quit {
  margin: 50px auto;
}

.quit span {
  margin-right: 50px;
}

.quit button {
  margin-top: 8px;
  width: 90px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: orangered;
  color: var(--color-white);
}

.quit p {
  font-size: 14px;
  color: var(--color-dark-white);
}
