<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Mood</title>
	</head>
	<body>

		<button type="button" th:if="${member != null}"><a href="/logout" th:text="로그아웃">로그아웃</a></button>
		<button type="button" th:if="${member == null}"><a href="/oauth2/authorization/google" th:text="구글로그인">구글로그인</a></button>
		<button type="button" th:if="${member == null}"><a href="/oauth2/authorization/naver" th:text="네이버로그인">네이버로그인</a></button>
		<button type="button" th:if="${member == null}"><a href="/oauth2/authorization/kakao" th:text="카카오로그인">카카오로그인</a></button>
		<span th:if="${member != null}" th:text="${member.name}"></span>
		
	</body>
</html>