<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mood</title>
    <link rel="shortcut icon" href="../img/letter-m.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="join.css" />
    <script
      src="https://kit.fontawesome.com/072f44ed92.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- Header -->
    <header>
      <div class="logo">
        <a href="/">Mood</a>
      </div>
      <div>
        <button id="login" onclick="location.href='/login'">로그인</button>
        <button id="join" onclick="location.href='/join'">회원가입</button>
      </div>
    </header>

    <!-- Main -->
    <main>
      <h2>간편 회원가입</h2>
      <div>
        <button class="joinBtn" id="google" onclick="location.href='/oauth2/authorization/google'">
          <img src="../img/google.png" /> <span>구글 회원가입</span>
        </button>
        <button class="joinBtn" id="kakao" onclick="location.href='/oauth2/authorization/kakao'">
          <img src="../img/kakao.png" /> <span>카카오 회원가입</span>
        </button>
        <button class="joinBtn" id="naver" onclick="location.href='/oauth2/authorization/naver'">
          <img src="../img/naver.png" /> <span>네이버 회원가입</span>
        </button>
      </div>
    </main>
  </body>
</html>
